---
layout: layouts/base.njk
title: Digitron Buje i Vremeplov Računanja
lang: en
audioSrc: /assets/audio/hr/04-i-bi-digitron.mp3
---

<div class="sections-wrapper">
  <section class="section_layout58">
    <div class="page-padding">
      <div class="container-large-2">
        <div class="padding-vertical padding-xhuge">
          <h1 class="heading-style-h1-2">English version is coming soon</h1>
          <p class="text-size-large-2">This section will be available shortly.</p>
          <p class="text-size-large-2"><a href="/hr/">Back to Croatian version</a></p>
        </div>
      </div>
    </div>
  </section>
</div>
