---
layout: layouts/base.njk
title: Retrobit izložba digitrona
lang: hr
---

<div class="sections-wrapper home-wrapper">
  <header class="section_heroheader05">
    <div id="audio-play" class="page-padding home-page-padding">
      <div class="container-large">
        <div class="padding-vertical padding-xhuge">
          <div class="w-layout-grid heroheader05_component hide-desktop">
            <div class="heroheader05_content mobile-view-image">
              <img src="/assets/images/final/retrobit-logo-large-202.png" loading="lazy" sizes="100vw" srcset="/assets/images/final/retrobit-logo-large-202-p-500.png 500w, /assets/images/final/retrobit-logo-large-202-p-800.png 800w, /assets/images/final/retrobit-logo-large-202.png 1035w" alt="Multimedijska izložba digitrona" class="shadow-two"/>
              <div data-hero-variant="mobile" class="heroheader05_image-wrapper mobile-view-image">
                <div class="image-group">
                  <img fetchpriority="low" decoding="async" data-src="/assets/images/final/digitroni.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==" loading="lazy" height="" sizes="100vw" alt="Abak - antički kalkulator" data-srcset="/assets/images/final/digitroni-p-500.png 500w, /assets/images/final/digitroni.png 800w" class="heroheader05_image image-digitalni hero-home-size"/>
                  <img fetchpriority="low" decoding="async" data-src="/assets/images/final/pozadina-20za-20sliku.svg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==" loading="lazy" alt="image background" class="image-background image-background-opacity"/>
                  <div class="w-layout-hflex ar-and-copyright">
                    <img fetchpriority="low" decoding="async" data-src="/assets/images/final/ar-20ikona-20-20s.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==" loading="lazy" alt="irene stvarnosti" class="image-2"/>
                    <div class="text-copyright-or-title">Tradicionalni kineski abacus</div>
                  </div>
                </div>
                <div class="qr-and-instructions tablet">
                  <div class="qr-container">
                    <img fetchpriority="low" decoding="async" data-src="/assets/images/final/image.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==" loading="lazy" alt="QR kod za AR iskustvo proširene stvarnosti" class="image qr"/>
                    <div class="text-block-3">Skeniraj kod mobitelom i uperi kameru u sliku da pokreneš AR.</div>
                  </div>
                </div>
              </div>
              <div class="text-size-large-2">Kalkulator je uređaj za automatsku provedbu računskih operacija. Najpoznatija marka džepnog kalkulatora u Jugoslaviji krajem 20. stoljeća bio je Digitron, pa je ta riječ postala eponim za sve džepne kalkulatore na tim prostorima.<br/>
              <br/>Kroz multimediju i sadržaje proširene stvarnosti istražite krivudav i zahtjevan put koji je prevalio kalkulator - od nečega što je isprva bilo glomazno, skupo i vrlo komplicirano za izradu do nečega što danas imate u mobitelu kao jednu od vrlo korisnih, ali besplatnih aplikacija.</div>
            </div>
            <div data-hero-variant="desktop" class="heroheader05_image-wrapper">
              <div class="image-group">
                <img fetchpriority="low" decoding="async" data-src="/assets/images/final/digitroni.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==" loading="lazy" height="" sizes="100vw" alt="Abak - antički kalkulator" data-srcset="/assets/images/final/digitroni-p-500.png 500w, /assets/images/final/digitroni.png 800w" class="heroheader05_image image-digitalni hero-home-size"/>
                <img fetchpriority="low" decoding="async" data-src="/assets/images/final/pozadina-20za-20sliku.svg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==" loading="lazy" alt="image background" class="image-background image-background-opacity"/>
                <div class="w-layout-hflex ar-and-copyright">
                  <img fetchpriority="low" decoding="async" data-src="/assets/images/final/ar-20ikona-20-20s.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==" loading="lazy" alt="irene stvarnosti" class="image-2"/>
                  <div class="text-copyright-or-title">Tradicionalni kineski abacus</div>
                </div>
              </div>
              <div class="qr-and-instructions tablet">
                <div class="qr-container">
                  <img fetchpriority="low" decoding="async" data-src="/assets/images/final/image.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==" loading="lazy" alt="QR kod za AR iskustvo proširene stvarnosti" class="image qr"/>
                  <div class="text-block-3">Skeniraj kod mobitelom i uperi kameru u sliku da pokreneš AR.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="hero-image-container">
            <img src="/assets/images/final/naslovnica-20-20hr-201-20-s.png" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 991px) 94vw, 95vw" alt="" srcset="/assets/images/final/naslovnica-20-20hr-201-20-s-p-500.png 500w, /assets/images/final/naslovnica-20-20hr-201-20-s-p-800.png 800w, /assets/images/final/naslovnica-20-20hr-201-20-s-p-1080.png 1080w, /assets/images/final/naslovnica-20-20hr-201-20-s-p-1600.png 1600w, /assets/images/final/naslovnica-20-20hr-201-20-s-p-2000.png 2000w, /assets/images/final/naslovnica-20-20hr-201-20-s.png 2283w" class="hero-image-1"/>
            <img src="/assets/images/final/naslovnica-20-20hr-202-20-20s.png" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 991px) 94vw, 95vw" alt="" srcset="/assets/images/final/naslovnica-20-20hr-202-20-20s-p-500.png 500w, /assets/images/final/naslovnica-20-20hr-202-20-20s-p-800.png 800w, /assets/images/final/naslovnica-20-20hr-202-20-20s-p-1080.png 1080w, /assets/images/final/naslovnica-20-20hr-202-20-20s-p-1600.png 1600w, /assets/images/final/naslovnica-20-20hr-202-20-20s.png 2190w" class="hero-image-2"/>
            <img src="/assets/images/final/naslovnica-20-20hr-203-20-20s.png" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 991px) 94vw, 95vw" srcset="/assets/images/final/naslovnica-20-20hr-203-20-20s-p-500.png 500w, /assets/images/final/naslovnica-20-20hr-203-20-20s-p-800.png 800w, /assets/images/final/naslovnica-20-20hr-203-20-20s-p-1080.png 1080w, /assets/images/final/naslovnica-20-20hr-203-20-20s-p-1600.png 1600w, /assets/images/final/naslovnica-20-20hr-203-20-20s.png 2190w" alt="" class="hero-image-3"/>
          </div>
          <div id="w-node-_753cb281-3b40-bc7c-a294-bdcff89830a9-3b1ede85" class="w-layout-layout text-home-container wf-layout-layout">
            <div class="w-layout-cell text-cell">
              <div class="text-size-large-2 text-parag-hero">Kalkulator je uređaj za automatsku provedbu računskih operacija. <br/>
              <br/>Najpoznatija marka džepnog kalkulatora u Jugoslaviji krajem 20. stoljeća bio je Digitron, pa je ta riječ postala eponim za sve džepne kalkulatore na tim prostorima.</div>
            </div>
            <div class="w-layout-cell text-cell">
              <div class="text-size-large-2">Kroz multimediju i sadržaje proširene stvarnosti istražite krivudav i zahtjevan put koji je prevalio kalkulator - od nečega što je isprva bilo glomazno, skupo i vrlo komplicirano za izradu do nečega što danas imate u mobitelu kao jednu od vrlo korisnih, ali besplatnih aplikacija.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="eu-section">
    <div class="w-layout-blockcontainer container-large-2 w-container">
      <div id="w-node-a21d7f26-9d9f-f21a-b7ee-20324043907f-3b1ede85" class="w-layout-layout quick-stack wf-layout-layout">
        <div class="w-layout-cell">
          <a href="https://strukturnifondovi.hr/" target="_blank" class="eu-fondovi-link w-inline-block">
            <img src="/assets/images/final/eu-20vidljivost-20-20logosi-202.png" loading="lazy" sizes="(max-width: 767px) 100vw, 80vw" srcset="/assets/images/final/eu-20vidljivost-20-20logosi-202-p-500.png 500w, /assets/images/final/eu-20vidljivost-20-20logosi-202-p-800.png 800w, /assets/images/final/eu-20vidljivost-20-20logosi-202-p-1080.png 1080w, /assets/images/final/eu-20vidljivost-20-20logosi-202.png 1257w" alt="" class="eu-logosi"/>
          </a>
        </div>
        <div class="w-layout-cell cell">
          <div class="eu-tekst">Projekt sufinancirala Europska unija iz Europskog socijalnog fonda. Sadržaj mrežne stranice je isključiva odgovornost Udruge Retro info.<br/>
          <br/>Za više o EU fondovima: <a href="https://online.hfs.hr/www.strukturnifondovi.hr" target="_blank" class="link-eu">www.strukturnifondovi.hr</a> i <a href="https://online.hfs.hr/www.esf.hr" target="_blank" class="link-3">www.esf.hr</a>
        </div>
      </div>
    </div>
    <div class="padding-top padding-medium">
      <div class="footer3_bottom-wrapper">
        <div class="footer3_credit-text">© 2023 Retro info. Sva prava pridržana.</div>
        <div class="w-layout-grid footer3_legal-list">
          <a href="#" class="footer3_legal-link">Privacy Policy</a>
          <a href="#" class="footer3_legal-link">Terms of Service</a>
          <a href="#" class="footer3_legal-link">Cookies Settings</a>
        </div>
      </div>
    </div>
  </div>
</section>

