---
layout: layouts/base.njk
title: Digitron Buje i Vremeplov Računanja
lang: hr
---

<div class="sections-wrapper home-wrapper">
  <header class="section_heroheader05">
    <div id="audio-play" class="page-padding home-page-padding">
      <div class="container-large">
        <div class="padding-vertical padding-xhuge">
          <div class="w-layout-grid heroheader05_component hide-desktop">
            <div class="heroheader05_content mobile-view-image">
              <img src="/assets/images/final/retrobit-logo-large-202.png" loading="lazy" sizes="100vw" srcset="/assets/images/final/retrobit-logo-large-202-p-500.png 500w, /assets/images/final/retrobit-logo-large-202-p-800.png 800w, /assets/images/final/retrobit-logo-large-202.png 1035w" alt="Multimedijska izložba digitrona" class="shadow-two"/>
              <div data-hero-variant="mobile" class="heroheader05_image-wrapper mobile-view-image">
                <div class="image-group">
                  <img fetchpriority="low" decoding="async" data-src="/assets/images/final/digitroni.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==" loading="lazy" height="" sizes="100vw" alt="Abak - antički kalkulator" data-srcset="/assets/images/final/digitroni-p-500.png 500w, /assets/images/final/digitroni.png 800w" class="heroheader05_image image-digitalni hero-home-size"/>
                  <img fetchpriority="low" decoding="async" data-src="/assets/images/final/pozadina-20za-20sliku.svg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==" loading="lazy" alt="image background" class="image-background image-background-opacity"/>
                  <div class="w-layout-hflex ar-and-copyright">
                    <img fetchpriority="low" decoding="async" data-src="/assets/images/final/ar-20ikona-20-20s.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==" loading="lazy" alt="irene stvarnosti" class="image-2"/>
                    <div class="text-copyright-or-title">Tradicionalni kineski abacus</div>
                  </div>
                </div>
                <div class="qr-and-instructions tablet">
                  <div class="qr-container">
                    <img fetchpriority="low" decoding="async" data-src="/assets/images/final/image.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==" loading="lazy" alt="QR kod za AR iskustvo proširene stvarnosti" class="image qr"/>
                    <div class="text-block-3">Skeniraj kod mobitelom i uperi kameru u sliku da pokreneš AR.</div>
                  </div>
                </div>
              </div>
              <div class="text-size-large-2">Kalkulator je uređaj za automatsku provedbu računskih operacija. Najpoznatija marka džepnog kalkulatora u Jugoslaviji krajem 20. stoljeća bio je Digitron, pa je ta riječ postala eponim za sve džepne kalkulatore na tim prostorima.<br/>
              <br/>Kroz multimediju i sadržaje proširene stvarnosti istražite krivudav i zahtjevan put koji je prevalio kalkulator - od nečega što je isprva bilo glomazno, skupo i vrlo komplicirano za izradu do nečega što danas imate u mobitelu kao jednu od vrlo korisnih, ali besplatnih aplikacija.</div>
            </div>
            <div data-hero-variant="desktop" class="heroheader05_image-wrapper">
              <div class="image-group">
                <img fetchpriority="low" decoding="async" data-src="/assets/images/final/digitroni.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==" loading="lazy" height="" sizes="100vw" alt="Abak - antički kalkulator" data-srcset="/assets/images/final/digitroni-p-500.png 500w, /assets/images/final/digitroni.png 800w" class="heroheader05_image image-digitalni hero-home-size"/>
                <img fetchpriority="low" decoding="async" data-src="/assets/images/final/pozadina-20za-20sliku.svg" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==" loading="lazy" alt="image background" class="image-background image-background-opacity"/>
                <div class="w-layout-hflex ar-and-copyright">
                  <img fetchpriority="low" decoding="async" data-src="/assets/images/final/ar-20ikona-20-20s.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==" loading="lazy" alt="irene stvarnosti" class="image-2"/>
                  <div class="text-copyright-or-title">Tradicionalni kineski abacus</div>
                </div>
              </div>
              <div class="qr-and-instructions tablet">
                <div class="qr-container">
                  <img fetchpriority="low" decoding="async" data-src="/assets/images/final/image.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==" loading="lazy" alt="QR kod za AR iskustvo proširene stvarnosti" class="image qr"/>
                  <div class="text-block-3">Skeniraj kod mobitelom i uperi kameru u sliku da pokreneš AR.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="hero-image-container">
            <img src="/assets/images/final/extra/naslovnica%202.png" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 991px) 94vw, 95vw" srcset="/assets/images/final/extra/naslovnica%202.png 2190w" alt="" class="hero-image-main scroll-reveal-image"/>
          </div>
          <div id="w-node-_753cb281-3b40-bc7c-a294-bdcff89830a9-3b1ede85" class="w-layout-layout text-home-container wf-layout-layout">
            <div class="w-layout-cell text-cell">
              <div class="text-size-large-2 text-parag-hero">Digitron.buje – digitalna interpretacija industrijske baštine Buja<br/>
              <br/>Ova stranica istražuje razvoj alata i strojeva za računanje – od najranijih pomagala za bilježenje količina do elektroničkih kalkulatora koji su obilježili drugu polovicu 20. stoljeća.<br/>
              <br/>Poseban dio posvećen je tvornici Digitron u Bujama, čiji su kalkulatori desetljećima bili prisutni u školama, uredima i domovima diljem Jugoslavije i Europe.</div>
            </div>
            <div class="w-layout-cell text-cell">
              <div class="text-size-large-2">Kroz vremeplov računanja, priče o kalkulatorima i pregled tehnološkog razvoja možete otkriti kako su se uređaji za računanje postupno razvijali – od jednostavnih mehaničkih pomagala do digitalnih uređaja koji su danas dio svakodnevnog života.<br/>
              <br/>Digitron je u toj priči ostavio važan trag: iz malog istarskog grada nastala je industrija koja je sudjelovala u globalnoj tehnološkoj promjeni.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>


